@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.HeaderContainer{
    width: 100vw;
    height: 100vh;
}

.HeaderContainer h2{
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}

.HeaderImage{
    height: 100%;
    width: 100%;
    background: url('../../images/HeaderPhoto.jpg') no-repeat center center/cover;
}

.HeaderContentArea{
    height: 100%;
    width: 50%;
    float: right;
    background-color: #111111de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderContent{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px){
    .HeaderContentArea{
        width: 100%;
    }
}